<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerlinks}}
    <title>About</title>
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_menu1">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-fluid" title="">
                        </figure>
                      </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <h3>Wellcome to weather app</h3>
                        <h1>I am <span class="text_clr">MERN stack</span> & Python Developer</h1>
                        <a href="/"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {{footer}}
</body>


</html>